.example-button-row {
  display: flex;
  align-items: center;
}

.example-button-row .mat-mdc-button-base {
  margin: 0;
  background-color: #c41230;
  color: #fff;
}

.example-button-row .mat-mdc-button-base mat-icon {
  color: #fff;
}

.example-button-row .mat-mdc-button-base:hover {
  background-color: #a30f28;
}
