<div class="table-container">
  <div class="table-shell">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      [matSortActive]="orderParam"
      [matSortDirection]="orderType === 'ASC' ? 'asc' : 'desc'"
      matSortDisableClear
      (matSortChange)="onSortChange($event)"
      class="mat-elevation-z8">
      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="companyName">
          Nombre
        </th>
        <td mat-cell *matCellDef="let element">{{ element.companyName }}</td>
      </ng-container>

      <ng-container matColumnDef="cif">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="cif">CIF</th>
        <td mat-cell *matCellDef="let element">{{ element.cif }}</td>
      </ng-container>

      <ng-container matColumnDef="debtLimit">
        <th mat-header-cell *matHeaderCellDef>Límite de deuda</th>
        <td mat-cell *matCellDef="let element">
          {{ element.debtLimit }} {{ getCurrencySymbol(element.currency) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="email">Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="registrationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="registrationDate">
          Fecha de alta
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.registrationDate | date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="openModal($event, element)">
            <mat-icon>more_horiz</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div class="table-shell">
    <mat-paginator
      class="table-paginator"
      [length]="totalItems"
      [pageIndex]="currentPage - 1"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 50]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>
